ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    background-color: rgb(101, 200, 208);
    padding: 10px;
    margin-bottom: 5px;
    border-collapse: 4px;
}

p {
    text-align: justify;
}